<section class="bg-half-170 table w-full pt-4 home-wrapper overflow-hidden">

    <div class="container mx-auto px-4">
      <div class="flex flex-wrap mx-auto mt-10 items-start lg:flex lg:flex-row sm:flex-col sm:mt-5">
  
        <div class=" col-lg-6 col-md-6 lg:w-1/2 pt-2">
          <div class="leading-7">
            <span
              class="badge rounded-lg bg-orange-500 bg-opacity-50 border border-orange-500 border-opacity-10 text-orange-500"><b>Medizinische</b></span>
            <h4 class="heading pt-3">Kinder - <span class="text-orange-500">und</span> <br><br>Jugendarztpraxis</h4>
            <p class="text-lg max-w-lg text-muted mb-0">Wir freuen uns, dass Sie unsere Internet-Präsenz besuchen. Als moderne Praxis wollen wir Sie gerne auch online mit allen Informationen rund um unser Angebot versorgen.</p>
            <div class="mt-5">
              <a href="javascript:void(0)" class="rounded-sm btn-soft-primary mt-2 px-3"><strong>Einen Termin buchen</strong></a>
            </div>
  
          </div>
        </div>
  
        <div class="col-lg-6 col-md-6 mt-4 pt-2 sm:mt-0 sm:pt-0 lg:w-1/2">
          <div class="m-auto lg:m-4 ">
            <img src="assets/doctors-cuate.svg" class="max-w-full h-auto" alt="">
          </div>
        </div>
  
      </div>
    </div>
  </section>