<section>
    <div class="container  mx-auto px-4 pt-3">
      <div class="flex flex-row mx-auto px-4 mt-5 justify-between items-center lg:flex lg:flex-row sm:flex-col sm:mt-5">
        <div class="w-[41%] col-md-6">
          <div class="relative">
            <img src="assets/about.jpg" class="rounded h-auto max-w-full mx-auto block shadow" alt="">
          </div>
        </div>
  
        <div class="w-[58%] col-md-6 mt-4 sm:mt-0 pt-2 sm:pt-0">
          <div class="ml-[3em]">
            <span
              class="badge rounded-[50rem]  bg-orange-500 bg-opacity-50 border border-orange-500 border-opacity-10 text-orange-500">Über uns</span>
            <h4 class="text-3xl tracking-[0.5px] md:text-2xl mt-3 mb-4">Ein <span class="text-orange-500">großartiger</span> Ort für die <span class="text-orange-500">Pflege</span></h4>
            <p class="text-[#8492a6] text-[18px]">Schon seit Anfang 2009 haben wir ein Qualitätsmanagement-System nach DIN EN ISO 9001/2008  zur Verbesserung der Praxis-Organisation und Patientenzufriedenheit.</p>
            <p class="text-[#8492a6] text-[18px] mb-0">Am 01.Oktober 2020 wurden wir "20." . Ich danke allen Patienten, die uns die Treue gehalten haben und mir ermöglicht haben, noch immer mit viel Freude meinen Beruf auszuüben..</p>
  
            <div class="mt-4">
              <button class="bg-[#f7961c] text-white font-bold py-2 px-4 rounded">
                Learn More
              </button>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </section>
