<div class="w-full md:w-[calc(100%-220px)] ml-[220px] pt-[45px] mx-auto bg-gray-50 min-h-screen transition-all  ">

    <div *ngIf="loadingHolidays"
        style="position:fixed; background-color:rgba(255,255,255,0.7); top:0; left:0; width:100vw; height:100vh; z-index: 99999999;">

        <div class="flex flex-col justify-center items-center"
            style="left:45%; top:50%; position: fixed; width: 200px; text-align: center; ">
            <img style="width: 100px;" src="/assets/load 2.gif" alt="">
            <div>Loading...</div>
        </div>

    </div>


    <div class="bg-white border border-gray-100 shadow-md shadow-black/5 p-6 rounded-md mt-6 ml-5">
        <div class="flex justify-between mb-4 items-start">
            <div class="font-medium text-amber-600">Alle Feiertage</div>
        </div>
        <div class="overflow-x-auto">

            <p-table class="px-2" #dt2 [value]="holidays" dataKey="id" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]"
                [loading]="loadingHolidays" [paginator]="true" [globalFilterFields]="['name', 'status']"
                [tableStyle]="{ 'min-width': '75rem' }">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="date" style="width:25%">
                           Beginns  <p-sortIcon field="date" />
                        </th>
                        <th pSortableColumn="dateEnd" style="width:25%">
                            Enddatum <p-sortIcon field="dateEnd" />
                        </th>
                        <th pSortableColumn="name" style="width:22%">
                            Name <p-sortIcon field="name" />
                        </th>
                        <th style="width:22%">
                            Status
                        </th>
                        <th style="width:22%">
                            Aktion
                        </th>
                    </tr>
                    <tr>
                        <th>

                        </th>

                        <th>

                        </th>
                        <th>
                            <p-columnFilter field="name" placeholder="Search by name">
                            </p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter field="status" matchMode="equals" [showMenu]="false">
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-dropdown [ngModel]="value" [options]="statuses" (onChange)="filter($event.value)"
                                        placeholder="Select One" [showClear]="true">
                                        <ng-template let-option pTemplate="item">
                                            <p-tag [value]="option.value" [severity]="getSeverity(option.label)" />
                                        </ng-template>
                                    </p-dropdown>
                                </ng-template>
                            </p-columnFilter>
                        </th>
                        <th>

                        </th>
                    </tr>
                </ng-template>
                <ng-template class="px-3" pTemplate="body" let-holiday>
                    <tr
                        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">

                        <td
                            class="px-6 py-4">
                            <div class="text-base font-light">{{holiday.date.split("T")[0]}}</div>
                        </td>
                        <td class="px-6 py-4">
                            <div class="text-base text-gray-900 font-light"> {{holiday.dateEnd.split("T")[0]}} </div>
                        </td>
                        <td class="px-6 py-4">
                            <div class="text-base text-gray-900 font-extrabold"> {{holiday.name}} </div>
                        </td>
                        <td class="px-6 py-4">
                            <div class="flex items-center">
                                <p-tag [value]="holiday.status" [severity]="getSeverity(holiday.status)" />
                            </div>
                        </td>
                        <td class="px-6 py-4">
                            <div (click)="changeStatus(holiday.$id, 'VALIDATED')">
                                <svg class="w-6 h-6 text-green-600 cursor-pointer dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                    <path fill-rule="evenodd" d="M15.03 9.684h3.965c.322 0 .64.08.925.232.286.153.532.374.717.645a2.109 2.109 0 0 1 .242 1.883l-2.36 7.201c-.288.814-.48 1.355-1.884 1.355-2.072 0-4.276-.677-6.157-1.256-.472-.145-.924-.284-1.348-.404h-.115V9.478a25.485 25.485 0 0 0 4.238-5.514 1.8 1.8 0 0 1 .901-.83 1.74 1.74 0 0 1 1.21-.048c.396.13.736.397.96.757.225.36.32.788.269 1.211l-1.562 4.63ZM4.177 10H7v8a2 2 0 1 1-4 0v-6.823C3 10.527 3.527 10 4.176 10Z" clip-rule="evenodd"/>
                                  </svg>
                            </div>
                            <div (click)="changeStatus(holiday.$id, 'REJECTED')">

                            <svg class="w-6 h-6 text-red-600  dark:text-white cursor-pointer" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                <path fill-rule="evenodd" d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm7.707-3.707a1 1 0 0 0-1.414 1.414L10.586 12l-2.293 2.293a1 1 0 1 0 1.414 1.414L12 13.414l2.293 2.293a1 1 0 0 0 1.414-1.414L13.414 12l2.293-2.293a1 1 0 0 0-1.414-1.414L12 10.586 9.707 8.293Z" clip-rule="evenodd"/>
                              </svg>
                            </div>
                              
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <!--<table class="w-full min-w-[540px] text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
                data-tab-for="order" data-page="active">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Datum des Beginns
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Enddatum
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Name
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Status
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Aktion
                        </th>
                    </tr>
                </thead>

                <tbody>

                    <tr *ngFor="let holiday of holidays"
                        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">

                        <th scope="row"
                            class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
                            <div class="text-base font-light">{{holiday.date.split("T")[0]}}</div>
                        </th>
                        <td class="px-6 py-4">
                           <div class="text-base text-gray-900 font-light"> {{holiday.dateEnd.split("T")[0]}} </div>
                        </td>
                        <td class="px-6 py-4">
                            <div class="text-base text-gray-900 font-extrabold"> {{holiday.name}} </div>
                         </td>
                        <td class="px-6 py-4">
                            <div class="flex items-center">
                                <div [ngClass]="{'bg-green-500': holiday.status === 'VALIDATED', 'bg-orange-300': holiday.status ==='WAITING', 'bg-red-600': holiday.status ==='REJECTED' }" class="h-2.5 w-2.5 rounded-full bg-green-500 me-2"></div> {{holiday.status}}
                            </div>
                        </td>
                        <td class="px-6 py-4">
                            <a (click)="changeStatus(holiday.$id, 'VALIDATED')" class="cursor-pointer uppercase font-medium text-green-600  hover:underline">VALID
                                </a>
                                <a (click)="changeStatus(holiday.$id, 'REJECTED')" class=" mx-2 cursor-pointer uppercase font-medium text-red-600  hover:underline">ABGELEHNT
                                    </a>
                        </td>
                    </tr>

                </tbody>


            </table>-->

        </div>


    </div>

    <div class="bg-white border px-10 border-gray-100 shadow-md shadow-black/5 p-6 rounded-md lg:col-span-2">
        <app-holidays-calendar-view></app-holidays-calendar-view>
    </div>




</div>