<footer class="bg-[#212f40] relative text-[#adb5bd] mx-auto px-4">
    <div class=" container mx-auto px-4 py-5">
        <div class="container">
            <div class="flex flex-wrap mx-auto w-full lg:flex-row items-center">
                <div class="md:w-[58%]">
                    <div>
                        <div class="flex">
                            <i class="uil uil-stethoscope-alt display-4 text-white title-dark"></i>
                            <div class="flex-1 md:ms-4 ms-3">
                                <h4 class="font-bold text-white mb-1">Get a free medical</h4>
                                <p class="text-gray-400 mb-0">Lorem ipsum dolor sit, amet conse</p>
                            </div>
                        </div>
                    </div>
                </div><!--end col-->

                <div class="md:w-[41%] mt-4 sm:mt-0">
                    <div class="md:text-end ms-5 sm:ms-0">
                        <button class="bg-[#f7961c] text-white font-bold py-2 px-4 rounded">
                            Book an appointment
                          </button>
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </div><!--end div-->

    <div class="container mx-auto px-4">
        <div class="flex flex-wrap mx-auto w-full lg:flex-row ">
            <div class="w-full">
                <div class="footer-py-60 footer-border">
                    <div class="flex flex-wrap mx-auto w-full lg:flex-row ">
                        <div class="lg:w-[33%] w-full mb-0 md:mb-4 pb-0 md:pb-0">
                            <a href="#" class="logo-footer">
                                <img src="assets/images/logo-light.png" height="24" alt="">
                            </a>
                            <ul class="list-unstyled social-icon foot-social-icon mb-0 mt-4">
                                <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="facebook" class="fea icon-sm fea-social"></i></a></li>
                                <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="instagram" class="fea icon-sm fea-social"></i></a></li>
                                <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="twitter" class="fea icon-sm fea-social"></i></a></li>
                                <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="linkedin" class="fea icon-sm fea-social"></i></a></li>
                            </ul><!--end icon-->
                        </div><!--end col-->
                        
                        <div class="lg:w-[16%] md:w-[33%] w-full pt-4 sm:mt-0  sm:pt-0">
                            <h5 class="footer-head">Company</h5>
                            <ul class="list-unstyled footer-list mt-4">
                                <li><a href="javascript:void(0)" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> About us</a></li>
                                <li><a href="javascript:void(0)" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Services</a></li>
                                <li><a href="javascript:void(0)" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Team</a></li>
                                <li><a href="javascript:void(0)" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Login</a></li>
                            </ul>
                        </div><!--end col-->
                        
                        <div class="lg:w-[25%] md:w-[33%] w-full mt-4 sm:mt-0 pt-2 sm:pt-0">
                            <h5 class="footer-head">Usefull Links</h5>
                            <ul class="list-unstyled footer-list mt-4">
                                <li><a href="javascript:void(0)" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Terms of Services</a></li>
                                <li><a href="javascript:void(0)" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Privacy Policy</a></li>
                                <li><a href="javascript:void(0)" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Documentation</a></li>
                                <li><a href="javascript:void(0)" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Changelog</a></li>
                                <li><a href="javascript:void(0)" class="text-foot"><i class="uil uil-angle-right-b me-1"></i> Components</a></li>
                            </ul>
                        </div><!--end col-->
    
                        <div class="lg:w-[25%] md:w-[33%] w-full mt-4 sm:mt-0 pt-2 sm:pt-0">
                            <h5 class="footer-head">Newsletter</h5>
                            <p class="mt-4">Sign up and receive the latest tips via email.</p>
                            <form>
                                <div class="flex flex-wrap mx-auto w-full lg:flex-row ">
                                    <div class="lg:w-full">
                                        <div class="foot-subscribe mb-3">
                                            <label class="form-label">Write your email <span class="text-danger">*</span></label>
                                            <div class="form-icon position-relative">
                                                <i data-feather="mail" class="fea icon-sm icons"></i>
                                                <input type="email" name="email" id="emailsubscribe" class="form-control ps-5 rounded" placeholder="Your email : " required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="lg:w-full">
                                        <div class="grid">
                                            <button class="bg-[#f7961c] text-white font-bold py-2 px-4 rounded">
                                               Subscribe
                                              </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div><!--end col-->
                    </div><!--end row-->
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->

    <div class="footer-py-30 footer-bar">
        <div class="container text-center">
            <div class="row items-center">
                <div class="sm:w-[50%]">
                    <div class="sm:text-start">
                        <p class="mb-0">Design by 2KM.</p>
                    </div>
                </div><!--end col-->

                <div class="sm:w-[50%] mt-4 sm:mt-0 pt-2 sm:pt-0">
                    <ul class="list-unstyled sm:text-end mb-0">
                        <li class="list-inline-item"><a href="javascript:void(0)"><img src="assets/images/payments/american-ex.png" class="avatar avatar-ex-sm" title="American Express" alt=""></a></li>
                        <li class="list-inline-item"><a href="javascript:void(0)"><img src="assets/images/payments/discover.png" class="avatar avatar-ex-sm" title="Discover" alt=""></a></li>
                        <li class="list-inline-item"><a href="javascript:void(0)"><img src="assets/images/payments/master-card.png" class="avatar avatar-ex-sm" title="Master Card" alt=""></a></li>
                        <li class="list-inline-item"><a href="javascript:void(0)"><img src="assets/images/payments/paypal.png" class="avatar avatar-ex-sm" title="Paypal" alt=""></a></li>
                        <li class="list-inline-item"><a href="javascript:void(0)"><img src="assets/images/payments/visa.png" class="avatar avatar-ex-sm" title="Visa" alt=""></a></li>
                    </ul>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </div>
</footer>