<div class="p-4 sm:ml-64">

    <div *ngIf="loadingAppointments"
        style="position:fixed; background-color:rgba(255,255,255,0.7); top:0; left:0; width:100vw; height:100vh; z-index: 99999999;">

        <div class="flex flex-col justify-center items-center"
            style="left:45%; top:50%; position: fixed; width: 200px; text-align: center; ">
            <img style="width: 100px;" src="/assets/load 2.gif" alt="">
            <div>Loading...</div>
        </div>

    </div>


    <div class="bg-white border border-gray-100 shadow-md shadow-black/5 p-6 rounded-md">
        <div class="flex justify-between mb-4 items-start">
            <div class="font-medium">All Appointments</div>

            <button (click)="openModal(Appointmentmodal)" class="bg-[#f7961c] text-white font-bold py-2 px-4 rounded">
                Add Appointment
            </button>
        </div>
        <div class="overflow-x-auto">
            <table class="w-full min-w-[540px] text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
                data-tab-for="order" data-page="active">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Date
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Time
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Status
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Action
                        </th>
                    </tr>
                </thead>

                <tbody>

                    <tr *ngFor="let appointment of appointments"
                        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">

                        <th scope="row"
                            class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
                            <div class="text-base font-semibold">{{appointment.date.split("T")[0]}}</div>
                        </th>
                        <td class="px-6 py-4">
                            {{appointment.time}} - {{appointment.timeEnd}}
                        </td>
                        <td class="px-6 py-4">
                            <div class="flex items-center">
                                <div [ngClass]="{'bg-green-500': appointment.status !== 'WAITING', 'bg-orange-300': appointment.status ==='WAITING' }" class="h-2.5 w-2.5 rounded-full bg-green-500 me-2"></div> {{appointment.status}}
                            </div>
                        </td>
                        <td class="px-6 py-4">
                            <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit
                                appointment</a>
                        </td>
                    </tr>

                </tbody>


            </table>

        </div>



        <ng-template #Appointmentmodal id="Appointmentmodal" tabindex="-1" aria-hidden="true"
            class="transition duration-75 hidden overflow-y-scroll overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
            let-modal>

            <div class="relative p-4 overflow-y-scroll w-auto bg-white rounded-lg shadow dark:bg-gray-700">
                <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                    <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                        Add Appointment
                    </h3>
                    <button type="button"
                        class="end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                        (click)="hideModal()">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                        </svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>


                <form [formGroup]="AppointmentForm" (ngSubmit)="submitAppointment()">

                    <div class="grid gap-6  mb-6 md:grid-cols-2">
                        <div>
                            <label for="name"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
                            <input type="text" id="name" formControlName="name" name="name"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="John" required />
                                <div *ngIf="submitted && AppointmentForm.controls.name.errors" class="text-red-600">
                                    Dieses Feld ist erforderlich
                                </div>
                        </div>
                        <div>
                            <label for="company"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your age</label>
                            <input type="number" id="age" formControlName="age" name="age"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                required />
                                <div *ngIf="submitted && AppointmentForm.controls.age.errors" class="text-red-600">
                                    Dieses Feld ist erforderlich
                                </div>
                        </div>
                        <div>
                            <label for="phone"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Phone
                                number</label>
                            <input type="text" id="phone" formControlName="phone" name="phone"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="123-45-678" required />
                                <div *ngIf="submitted && AppointmentForm.controls.phone.errors" class="text-red-600">
                                    Dieses Feld ist erforderlich
                                </div>
                        </div>
                        <div>
                            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Start
                                date</label>
                            <input type="date" id="startDate" formControlName="startDate" name="startDate"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                required />
                                <div *ngIf="submitted && AppointmentForm.controls.startDate.errors" class="text-red-600">
                                    Dieses Feld ist erforderlich
                                </div>
                        </div>
                    </div>
                    <label for="hours" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select start
                        hour</label>
                    <div class="mb-2 flex flex-col items-center gap-2 mt-2 p-4">

                        <div class="grid grid-cols-4 sm:grid-cols-5 md:grid-cols-6  text-md gap-2">
                            <div *ngFor="let hour of hours">
                                <button type="button" (click)="selectHour(hour)"
                                    [ngClass]="{'bg-amber-600': selectedHour===hour, 'bg-green-200': selectedHour !==hour } "
                                    class="bg-green-200 rounded-lg px-2 text-gray-800 relative hover:border hover:border-green-400 w-[60px] h-[26px]">{{hour}}</button>
                            </div>
                        </div>

                    </div>
                    <label for="hours" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select end
                        hour</label>
                    <div class="mb-6 flex flex-col items-center gap-2 p-4">

                        <div class="grid grid-cols-4 sm:grid-cols-5 md:grid-cols-6  text-md gap-2">
                            <div *ngFor="let hour of hours">
                                <button type="button" (click)="selectEndHour(hour)"
                                    [ngClass]="{'bg-amber-600': selectedEndHour===hour, 'bg-green-200': selectedEndHour !==hour } "
                                    class="bg-green-200 rounded-lg px-2 text-gray-800 relative hover:border hover:border-green-400 w-[60px] h-[26px]">{{hour}}</button>
                            </div>
                        </div>

                    </div>
                    <div class="mb-6">
                        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email
                            address</label>
                        <input type="email" id="email" formControlName="email" name="email"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="john.doe@company.com" required />
                            <div *ngIf="submitted && AppointmentForm.controls.email.errors" class="text-red-600">
                                Dieses Feld ist erforderlich
                            </div>
                    </div>


                    <button type="submit"
                        class="text-white bg-amber-600 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
                </form>


            </div>

        </ng-template>


    </div>




</div>