<div class="bg-[#f8f9fa] bg-opacity-100 pb-10 ">
    <div class=" mx-auto px-4">
      <div class="flex flex-wrap mx-auto  lg:flex-row justify-around items-center w-full">
  
        <div class="lg:w-1/5 md:w-1/2 w-full sm:mt-5">
          <div class=" bg-white shadow-lg border-0  rounded py-5 px-6 ">
            <span class=" text-orange-500 ">
              <mat-icon>account_circle</mat-icon>
            </span>
            <div class="py-2">
              <h3>Sonographie</h3>
              <p class=" text-[#8492a6] h-[90px] overflow-hidden  ">
                (Abdomen, Harnwege, Schädel, Säuglingshüften):
                Montag, Dienstag, Donnerstag, Freitag 14.00 - 15.00 Uhr(nur nach vorheriger Terminvereinbarung)
              
            </p>
            </div>
          </div>
        </div>
  
        <div class="lg:w-1/5 md:w-1/2 mt-0 sm:mt-5 pt-0 w-full">
          <div class=" bg-white shadow-lg border-0 rounded px-6 py-5 ">
            <span class="h1 text-orange-500 ">
              <mat-icon>account_circle</mat-icon>
            </span>
            <div class="py-2">
              <h3>Praxiszeiten</h3>
              <p class="para text-[#8492a6] h-[90px] overflow-hidden">Montag - Freitag
                08.30 - 12.00 Uhr
                Montag, Dienstag und Donnerstag
                15.00 - 17.00 Uhrund nach Terminvereinbarung</p>
            </div>
          </div>
        </div>
  
        <div class="lg:w-1/5 md:w-1/2 mt-0 sm:mt-5 pt-0 w-full ">
          <div
            class=" bg-white transition duration-500 ease-in-out hover:text-white hover:bg-[#f7961c] shadow-lg border-0 rounded px-6 py-5 ">
            <span class="text-orange-500">
              <mat-icon>account_circle</mat-icon>
            </span>
            <div class="py-2 ">
              <h3>Telefonsprechstunde</h3>
              <p class="text-gray-400 h-[90px] overflow-hidden">bitte melden Sie sich per Email und wir rufen Sie schnellstmöglich zurück</p>
            </div>
          </div>
        </div>
  
        <div class="lg:w-1/5 md:w-1/2 mt-0 sm:mt-5 pt-0 w-full">
          <div class=" bg-white shadow-lg border-0 rounded px-6 py-5 ">
            <span class="h1 text-orange-500 ">
              <mat-icon>account_circle</mat-icon>
            </span>
            <div class="py-2">
              <h3>Impfsprechstunde</h3>
              <p class="para text-[#8492a6] overflow-hidden h-[90px]">Dienstag , Donnerstag 08.30 - 09.30 u. 15.30 - 16.30 Uhr (nur nach vorheriger Terminvereinbarung)</p>
            </div>
          </div>
        </div>
  
  
      </div>
    </div>
  </div>
  