
  
  .fc { /* the calendar root */
    max-width: 1100px;
    margin: 0 auto;
  }

  .fc-button {
    background-color: #4CAF50; /* Changez cette couleur selon vos besoins */
    color: white;
  }
  
  /* Cibler spécifiquement les boutons de navigation */
  .fc-button-prev, .fc-button-next {
    background-color: #008CBA; /* Changez cette couleur selon vos besoins */
    color: white;
  }
  
  /* Cibler le bouton "aujourd'hui" */
  .fc-button-today {
    background-color: #f44336; /* Changez cette couleur selon vos besoins */
    color: white;
  }
  
  /* Cibler les boutons pour les différentes vues */
  .fc-button-dayGridMonth,
  .fc-button-timeGridWeek,
  .fc-button-timeGridDay,
  .fc-button-listWeek {
    background-color: #FFC107; /* Changez cette couleur selon vos besoins */
    color: white;
  }