<section>

  <div *ngIf="loadingService"
  style="position:fixed; background-color:rgba(255,255,255,0.7); top:0; left:0; width:100vw; height:100vh; z-index: 99999999;">

  <div class="flex flex-col justify-center items-center"
    style="left:45%; top:50%; position: fixed; width: 200px; text-align: center; ">
    <img style="width: 100px;" src="/assets/load 2.gif" alt="">
    <div>Loading...</div>
  </div>

</div>

    <div class="container mt-40 mx-auto px-4 ">
  
      <div class="flex flex-row items-end mb-4 pb-2 mx-auto px-4 " >
        <div class="w-[66%]">
          <div class="text-center md:text-start" [ngClass]="{'border-4 cursor-pointer hover:bg-gray-400':isFrontEnd}" (click)="openModal(serviceModal)">
            <h3 class="text-[#f7961c] text-[28px]">{{updateService.serviceTitle}}</h3>
            <p class="text-muted text-[40px] mb-0 para-desc">{{updateService.serviceText}}</p>
          </div>
        </div>
  
        <div class="w-[33%] mt-4 sm:mt-0 hidden md:block">
          <div class="text-center md:text-end">
            <a href="javascript:void(0)" class="text-[#f7961c] font-semibold">See More</a>
          </div>
        </div>
  
      </div>
  
      <div class="flex flex-wrap mx-auto mt-5 items-start lg:flex lg:flex-row sm:flex-col sm:mt-5 px-4 ">
  
        <div class="w-[41%] mt-4 pt-2">
          <ul class="flex flex-wrap justify-center nav-pills rounded p-3 flex-col shadow mb-0 sticky top-20">
            <li [ngClass]="{ 'bg-[#f7961c] text-white': services[0] }" class="text-center rounded">
              <a #test
                class="block py-2 px-4 text-base font-normal  transition-colors duration-150 ease-in-out hover:text-white hover:bg-[#f7961c] rounded active:bg-orange-500 active:text-white"
                id="test" (click)="afficher('dental')" role="tab" aria-controls="dental" aria-selected="true">
                <div class="text-start py-1 px-2">
                  <h3 class="mb-0">Zahnärztlicher Dienst</h3>
                </div>
              </a>
            </li>
  
            <li class="text-center mt-2">
              <a class="block py-2 px-4 text-base font-normal text-[#212529] transition-colors duration-150 ease-in-out hover:text-white hover:bg-[#f7961c] rounded"
                id="" data-bs-toggle="pill" href="#dental" role="tab" aria-controls="dental" aria-selected="false">
                <div class="text-start py-1 px-2">
                  <h3 class="mb-0">Pädiatrie</h3>
                </div>
              </a>
            </li>
  
            <li class="text-center">
              <a class="block py-2 px-4 text-base font-normal text-[#212529] transition-colors duration-150 ease-in-out hover:text-white hover:bg-[#f7961c] rounded active"
                id="" data-bs-toggle="pill" href="#dental" role="tab" aria-controls="dental" aria-selected="false">
                <div class="text-start py-1 px-2">
                  <h3 class="mb-0">Allgemeiner Checkup</h3>
                </div>
              </a>
            </li>

            <li class="text-center">
                <a class="block py-2 px-4 text-base font-normal text-[#212529] transition-colors duration-150 ease-in-out hover:text-white hover:bg-[#f7961c] rounded active"
                  id="" data-bs-toggle="pill" href="#dental" role="tab" aria-controls="dental" aria-selected="false">
                  <div class="text-start py-1 px-2">
                    <h3 class="mb-0">Augenpflege-Service</h3>
                  </div>
                </a>
              </li>
  
          </ul>
        </div>
  
  
        <div class="w-[58%] mt-4 pt-2">
  
          <div class="ml-[3em]" #dental>
            <div class="block p-4 rounded shadow transition-opacity duration-500" id="dental" role="tabpanel"
              aria-labelledby="dentalcare">
              <img src="assets/dental.jpg" class="h-auto max-w-full rounded shadow" alt="">
              <div class="mt-4">
                <h2>Zahnärztlicher Dienst</h2>
                <p class="text-muted my-3">Lorem ipsum dolor sit amet conse ctetur adipi sicing elit. Doloribus numquam quis.</p>
                <a href="javascript:void(0)" class="text-[#f7961c]">Learn More</a>
              </div>
            </div>
          </div>
  
        </div>
  
      </div>
  
    </div>


    <ng-template #serviceModal id="HeroModal" tabindex="-1" aria-hidden="true"
    class="transition duration-75 hidden overflow-y-scroll overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
    let-modal>

    <div class="relative p-4 overflow-y-scroll w-auto bg-white rounded-lg shadow dark:bg-gray-700">
      <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
          Update Services section
        </h3>
        <button type="menu"
          class="end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
          (click)="hideModal()">
          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>

      <form (submit)="updateText()">

        <div class="grid gap-6  mb-6 md:grid-cols-2">
          <div>
            <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Service Title</label>
            <input type="text" id="title" name="title" [(ngModel)]="updateService.serviceTitle"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              required />
          </div>
          <div>
            <label for="text1" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Service text</label>
            <textarea type="text" id="text1" name="text1" [(ngModel)]="updateService.serviceText"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              required > </textarea>
          </div>
        </div>

        <button type="submit"
          class="text-white bg-amber-600 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
      </form>


    </div>

  </ng-template>
  </section>
