<div class="container mt-30 mx-auto px-4 pb-10">

    <div class="flex flex-col mx-auto mt-5 lg:flex-row justify-start items-center w-full ">
        <div class="w-[40%]">
            <div>
                <h3 class="text-[#f7961c] text-[28px]">Zeugnisse</h3>
                <p class="text-[#8492a6] mb-0 text-[18px]">Was unsere Patienten sagen</p>
            </div>
        </div>
    </div>

<div class="flex max-w-5xl mx-auto pt-6 gap-8 group">
<div class="bg-white/10 duration-500 p-8 border shadow-lg cursor-pointer group-hover:blur-sm hover:!blur-none group-hover:scale-[0.85] hover:!scale-100 rounded-xl mix-blend-luminosity ">
    <img src="" class="h-20 w-20 mx-auto rounded-[50%] max-w-full shadow">
    <h4 class="uppercase text-xl pt-2 font-bold">John Doe</h4>
    <p class="text-sm leading-7 my-3 font-light opacity-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Molestiae sunt corporis id voluptatem enim omnis nisi, deleniti velit ipsum quo tempore ratione
    </p>
    <button class="bg-[#f7961c] text-white font-bold py-2 px-4 rounded">
        Get in touch
      </button>
</div>
<div class="bg-white/10 border shadow-lg  duration-500 p-8 cursor-pointer group-hover:blur-sm hover:!blur-none group-hover:scale-[0.85] hover:!scale-100 rounded-xl mix-blend-luminosity ">
    <img src="" class="h-20 w-20 mx-auto rounded-[50%] max-w-full shadow">
    <h4 class="uppercase text-xl pt-2 font-bold">John Doe</h4>
    <p class="text-sm leading-7 my-3 font-light opacity-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Molestiae sunt corporis id voluptatem enim omnis nisi, deleniti velit ipsum quo tempore ratione
    </p>
    <button class="bg-[#f7961c] text-white font-bold py-2 px-4 rounded">
        Get in touch
      </button>
</div>
<div class="bg-white/10 border shadow-lg  duration-500 p-8 cursor-pointer group-hover:blur-sm hover:!blur-none group-hover:scale-[0.85] hover:!scale-100 rounded-xl mix-blend-luminosity ">
    <img src="" class="h-20 w-20 mx-auto rounded-[50%] max-w-full shadow">
    <h4 class="uppercase text-xl pt-2 font-bold">John Doe</h4>
    <p class="text-sm leading-7 my-3 font-light opacity-50">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Molestiae sunt corporis id voluptatem enim omnis nisi, deleniti velit ipsum quo tempore ratione
    </p>
    <button class="bg-[#f7961c] text-white font-bold py-2 px-4 rounded">
        Get in touch
      </button>
</div>
</div>

</div>