<section class=" pt-10 py-28 relative">
    <div class="container mx-auto px-4">
      <div class="flex flex-col mx-auto mt-5 lg:flex-row justify-start items-center w-full ">
        <div class="w-[40%]">
            <div>
              <h3 class="text-[#f7961c] text-[28px]">Unser Team</h3>
              <p class="text-[#8492a6] mb-0 text-[18px]">Bitte scheuen Sie sich auch nicht unsere Lob-und Tadelbox im Wartezimmer zu benutzen, wir nehmen Ihre Anregungen ernst!</p>
            </div>
          </div>
      </div>
  
  
      <div class="flex flex-wrap mx-auto mt-5 lg:flex-row md:flex-col justify-between items-center w-full ">
  
        <div class="lg:w-1/5 md:w-1/2 mt-0 sm:mt-5  pt-4">
  
          <div class="text-center max-w-sm bg-white shadow-lg border-0 overflow-hidden relative rounded p-4">
  
            <div class="relative items-center">
              <img src="" class="max-w-full mx-auto shadow h-44 w-44 rounded-[50%]">
            </div>
  
            <div class="py-3 px-0 ">
              <h5 class="mb-0"><a href="javascript:void(0)" class="name text-[#212529]">Ronny Jofra</a></h5>
              <small class=" text-[#8492a6]">Cardiologist</small>
            </div>
  
          </div>
  
        </div>
  
        <div class="lg:w-1/5 md:w-1/2 mt-0 sm:mt-5 pt-4">
  
          <div class="text-center max-w-sm  bg-white shadow-lg border-0 overflow-hidden relative rounded p-4">
  
            <div class="relative">
              <img src="" class="max-w-full mx-auto  shadow h-44 w-44 rounded-[50%]">
            </div>
  
            <div class="card-body py-3 px-0 content">
              <h5 class="mb-0"><a href="javascript:void(0)" class="name text-[#212529]">Ronny Jofra</a></h5>
              <small class=" text-[#8492a6]">Cardiologist</small>
            </div>
  
          </div>
  
        </div>
  
        <div class="lg:w-1/5 md:w-1/2 mt-0 sm:mt-5 pt-4">
  
          <div class="text-center max-w-sm  bg-white shadow-lg border-0 overflow-hidden relative rounded p-4">
  
            <div class="relative">
              <img src="" class="max-w-full mx-auto shadow h-44 w-44 rounded-[50%]">
            </div>
  
            <div class="card-body py-3 px-0 content">
              <h5 class="mb-0"><a href="javascript:void(0)" class="name text-[#212529]">Ronny Jofra</a></h5>
              <small class=" text-[#8492a6]">Cardiologist</small>
            </div>
  
          </div>
  
        </div>
  
        <div class="lg:w-1/5 md:w-1/2 mt-0 sm:mt-5 pt-4">
  
          <div class="text-center max-w-sm  bg-white shadow-lg border-0 overflow-hidden relative rounded p-4">
  
            <div class="relative justify-center">
              <img src="" class="max-w-full mx-auto shadow h-44 w-44 rounded-[50%]">
            </div>
  
            <div class="card-body py-3 px-0 content">
              <h5 class="mb-0"><a href="javascript:void(0)" class="name text-[#212529]">Ronny Jofra</a></h5>
              <small class=" text-[#8492a6]">Cardiologist</small>
            </div>
  
          </div>
  
        </div>
  
      </div>
  
  
    </div>
  
  </section>