<nav class="bg-transparent right-0 left-0 border-0 shadow-lg z-50 top-0 w-full fixed">
    <div class="container mx-auto px-4">
        <div class="flex items-center justify-between h-16">
            <div class="flex flex-row justify-between  w-auto items-center">
                <div class="flex-shrink-0">
                    <a href="#" class="text-[#212529] font-bold">Logo</a>
                </div>
                <div class="hidden md:block">
                    <div class="md:ml-20 flex items-baseline space-x-10">
                        <a routerLink="/home" routerLinkActive="text-orange-400" class="text-[#212529] hover:text-[#f7961c]">Home</a>
                        <a href="#" class="text-[#212529] hover:text-[#f7961c]">praxisräume</a>
                        <a href="#" class="text-[#212529] hover:text-[#f7961c]">praxisspektrum</a>
                        <a href="#" class="text-[#212529] hover:text-[#f7961c]">unser-team</a>
                        <a href="#" class="text-[#212529] hover:text-[#f7961c]">Hilgreiche Tel & Links</a>
                        <a *ngIf="isAuth" routerLink="/user/media" routerLinkActive="text-orange-400" class="text-[#212529] cursor-pointer hover:text-[#f7961c]">Meine Dokumente</a>
                    </div>
                </div>
            </div>
            <div class="hidden md:block">
                <div class="ml-4 flex items-center md:ml-6">
                    <button  *ngIf="!isAuth" class=" bg-white shadow-lg border hover:bg-[#f7961c] hover:text-white text-[#f7961c] font-bold w-[40px] h-[40px] rounded-[50%]"
                        (click)="openModal(login)">
                        <svg class="mx-auto w-6 h-6 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 21a9 9 0 1 0 0-18 9 9 0 0 0 0 18Zm0 0a8.949 8.949 0 0 0 4.951-1.488A3.987 3.987 0 0 0 13 16h-2a3.987 3.987 0 0 0-3.951 3.512A8.948 8.948 0 0 0 12 21Zm3-11a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                          </svg>
                          
                    </button>

                        <div data-popover-target="popover-user-profile" *ngIf="isAuth" class="user-avatar cursor-pointer">
                            <div (click)="openProfile()"  class="avatar-circle shadow-lg border text-orange-400">{{ userInitial }}</div>
                        </div>   
                </div>
            </div>
        </div>
    </div>
</nav>

<div *ngIf="loadingOp"
    style="position:fixed; background-color:rgba(255,255,255,0.7); top:0; left:0; width:100vw; height:100vh; z-index: 99999999;">

    <div class="flex flex-col justify-center items-center"
        style="left:45%; top:50%; position: fixed; width: 200px; text-align: center; ">
        <img style="width: 100px;" src="/assets/load 2.gif" alt="">
        <div>Loading...</div>
    </div>

</div>



<ng-template #register role="document" let-modal>
    <div class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50">
        <div class="bg-white rounded-lg p-8 max-w-md w-full">
            <span (click)="hideModal()" class=" cursor-pointer mb-6 text-[26px]  font-bold float-right text-[#aaa]">&times;</span>
            <div class=" pt-10 h-auto flex flex-row items-center justify-center align-top">
                <svg class="mb-4 w-6 h-6 text-orange-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                    <path fill-rule="evenodd" d="M12 20a7.966 7.966 0 0 1-5.002-1.756l.002.001v-.683c0-1.794 1.492-3.25 3.333-3.25h3.334c1.84 0 3.333 1.456 3.333 3.25v.683A7.966 7.966 0 0 1 12 20ZM2 12C2 6.477 6.477 2 12 2s10 4.477 10 10c0 5.5-4.44 9.963-9.932 10h-.138C6.438 21.962 2 17.5 2 12Zm10-5c-1.84 0-3.333 1.455-3.333 3.25S10.159 13.5 12 13.5c1.84 0 3.333-1.455 3.333-3.25S13.841 7 12 7Z" clip-rule="evenodd"/>
                  </svg>
                <h2 class="text-3xl font-bold mb-4">Register</h2>
                  
            </div>

            <form [formGroup]="registerForm" (ngSubmit)="toRegister()">

                <ngb-alert type="danger" *ngIf="errormsg" [dismissible]="false">{{errorMessage}}.
                </ngb-alert>

                <div class="mb-4">
                    <label for="email" class="block text-gray-700 font-bold mb-2">Email <span
                            class="text-red-600">*</span></label>
                    <input type="email" placeholder="Email" formControlName="email" id="email"
                        name="email"
                        class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline w-full">
                    <div *ngIf="submitted && registerForm.controls.email.errors" class="text-red-600">
                        Bitte geben Sie eine gültige E-Mail-Adresse an
                    </div>
                </div>

                <div class="mb-4">
                    <label for="email" class="block text-gray-700 font-bold mb-2">Nutzername <span
                            class="text-red-600">*</span></label>
                    <input type="email" placeholder="Nutzername/Email" formControlName="username" id="username"
                        name="username"
                        class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline w-full">
                    <div *ngIf="submitted && registerForm.controls.username.errors" class="text-red-600">
                        Dieses Feld ist erforderlich
                    </div>
                </div>

                <div class="mb-6">
                    <label for="password" class="block text-gray-700 font-bold mb-2">Passwort <span
                            class="text-red-600">*</span></label>
                    <input type="password" placeholder="Passwort" formControlName="password" id="password"
                        name="password"
                        class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline w-full">
                    <div *ngIf="submitted && registerForm.controls.password.errors" class="text-red-600">
                        Dieses Feld ist erforderlich
                    </div>
                </div>

                <div class="mt-5">
                    <input type="checkbox" class="border border-gray-400">
                    <span>
                        Ich akzeptiere <a href="#" class="text-orange-500 font-semibold">die Nutzungsbedingungen </a> &  <a href="#" class="text-orange-500 font-semibold">Datenschutzbestimmungen</a> 
                    </span>
                  </div>

                <button type="submit"
                    class="w-full bg-[#f7961c] hover:bg-orange-500 text-white font-bold py-2 px-4 rounded">Sign
                    Up
                </button>
            </form>
        </div>
    </div>
</ng-template>

<ng-template #login role="document" let-modal>
    <div class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50">
        <div class="bg-white rounded-lg p-8 max-w-md w-full">
            <span (click)="hideModal()" class=" cursor-pointer mb-6 text-[26px]  font-bold float-right text-[#aaa]">&times;</span>
            <div class=" pt-10 h-auto flex flex-row items-center justify-center align-top">
                <svg class="mb-4 w-6 h-6 text-orange-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                    <path fill-rule="evenodd" d="M12 20a7.966 7.966 0 0 1-5.002-1.756l.002.001v-.683c0-1.794 1.492-3.25 3.333-3.25h3.334c1.84 0 3.333 1.456 3.333 3.25v.683A7.966 7.966 0 0 1 12 20ZM2 12C2 6.477 6.477 2 12 2s10 4.477 10 10c0 5.5-4.44 9.963-9.932 10h-.138C6.438 21.962 2 17.5 2 12Zm10-5c-1.84 0-3.333 1.455-3.333 3.25S10.159 13.5 12 13.5c1.84 0 3.333-1.455 3.333-3.25S13.841 7 12 7Z" clip-rule="evenodd"/>
                  </svg>
                <h2 class="text-3xl font-bold mb-4">Login</h2>
                  
            </div>

            <form [formGroup]="loginForm" (ngSubmit)="toLogin()">
                <div class="mb-4">
                    <label for="email" class="block text-gray-700 font-bold mb-2">Email <span
                            class="text-red-600">*</span></label>
                    <input type="email" placeholder="Nutzername/Email" formControlName="username" id="username"
                        name="username"
                        class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline w-full">
                    <div *ngIf="submitted && loginForm.controls.username.errors" class="text-red-600">
                        Dieses Feld ist erforderlich
                    </div>
                </div>
                <div class="mb-6">
                    <label for="password" class="block text-gray-700 font-bold mb-2">Passwort <span
                            class="text-red-600">*</span></label>
                    <input type="password" placeholder="Passwort" formControlName="password" id="password"
                        name="password"
                        class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline w-full">
                    <div *ngIf="submitted && loginForm.controls.password.errors" class="text-red-600">
                        Dieses Feld ist erforderlich
                    </div>
                </div>

                <div class="w-full">
                    <div class="flex flex-row justify-around">
                        <div class="items-center mb-4">
                            <input id="rememberMe" type="checkbox" class="form-checkbox h-5 w-5 text-orange-400">
                            <label for="rememberMe" class="ml-2 text-sm text-gray-700">Erinnern Sie sich an mich</label>
                        </div>
                        <p class="float-right mb-0"><a href="#" class="text-black font-bold">Passwort vergessen?</a></p>
                    </div>
                </div>


                <button type="submit"
                    class="w-full bg-[#f7961c] hover:bg-orange-500 text-white font-bold py-2 px-4 rounded">Eintragen
                </button>
            </form>
            <div class="mt-4 items-end float-left">
                <p>Sie haben noch kein Konto,<span class="text-black font-bold cursor-pointer" (click)="openModal(register)">Melden Sie sich an.</span></p> 
            </div>
        </div>
    </div>
</ng-template>



<div data-popover id="popover-user-profile" role="tooltip" class="absolute z-10 invisible inline-block w-64 text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 dark:text-gray-400 dark:bg-gray-800 dark:border-gray-600">
    <div class="p-3">
        <div class="flex items-center justify-between mb-2">
            <a href="#">
                <div *ngIf="isAuth" class="avatar-circle shadow-lg border text-orange-400">{{ userInitial }}</div>
            </a>
            <div>
                <button type="button" (click)="toLogOut()" class="text-white bg-red-500 hover:bg-red-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-xs px-3 py-1.5">Log Out</button>
            </div>
        </div>
        <p *ngIf="isAuth"  class="text-base font-semibold leading-none text-gray-900 dark:text-white">
            <a href="#">{{userData.username.toUpperCase()}}</a>
        </p>
        <p *ngIf="isAuth"  class="mb-3 text-sm font-normal">
            <a href="#" class="hover:underline">{{userData.email}}</a>
        </p>
        <p *ngIf="isAuth"  class="mb-4 text-sm">Sie sind Mitglied seit dem <strong>{{formatDate(userData.createdAt)}}</strong> </p>
    </div>
    <div data-popper-arrow></div>
</div>
