<nav class="bg-transparent right-0 left-0 border-0 shadow-lg z-50 top-0 w-full fixed">
    <div class="container mx-auto px-4">
        <div class="flex items-center justify-between h-16">
            <div class="flex flex-row justify-between w-[60%] items-center">
                <div class="flex-shrink-0">
                    <a href="#" class="text-[#212529] font-bold">Logo</a>
                </div>
                <div class="hidden md:block">
                    <div class="ml-10 flex items-baseline space-x-10">
                        <a href="#" class="text-[#212529] hover:text-[#f7961c]">Home</a>
                        <a href="#" class="text-[#212529] hover:text-[#f7961c]">praxisräume</a>
                        <a href="#" class="text-[#212529] hover:text-[#f7961c]">praxisspektrum</a>
                        <a href="#" class="text-[#212529] hover:text-[#f7961c]">unser-team</a>
                        <a href="#" class="text-[#212529] hover:text-[#f7961c]">Hilgreiche Tel & Links</a>
                    </div>
                </div>
            </div>
            <div class="hidden md:block">
                <div class="ml-4 flex items-center md:ml-6">
                    <button *ngIf="!isAuth" class=" bg-white shadow-lg border hover:bg-[#f7961c] hover:text-white text-[#f7961c] font-bold w-[40px] h-[40px] rounded-[50%]"
                        (click)="openModal(login)">
                            <mat-icon >account_circle</mat-icon>
                    </button>

                        <div *ngIf="isAuth" class="user-avatar">
                            <div class="avatar-circle shadow-lg border text-orange-400">{{ userInitial }}</div>
                        </div>   
                </div>
            </div>
        </div>
    </div>
</nav>

<div *ngIf="loadingOp"
    style="position:fixed; background-color:rgba(255,255,255,0.7); top:0; left:0; width:100vw; height:100vh; z-index: 99999999;">

    <div class="flex flex-col justify-center items-center"
        style="left:45%; top:50%; position: fixed; width: 200px; text-align: center; ">
        <img style="width: 100px;" src="/assets/load 2.gif" alt="">
        <div>Loading...</div>
    </div>

</div>



<ng-template #register role="document" let-modal>
    <div class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50">
        <div class="bg-white rounded-lg p-8 max-w-md w-full">
            <span (click)="hideModal()" class=" cursor-pointer mb-6 text-[26px]  font-bold float-right text-[#aaa]">&times;</span>
            <div class=" pt-10 h-auto flex items-center justify-center">
                <h2 class="text-3xl font-bold mb-4"><mat-icon class="pt-1 text-orange-500">account_circle</mat-icon>Register</h2>
            </div>

            <form [formGroup]="registerForm" (ngSubmit)="toRegister()">

                <ngb-alert type="danger" *ngIf="errormsg" [dismissible]="false">{{errorMessage}}.
                </ngb-alert>

                <div class="mb-4">
                    <label for="email" class="block text-gray-700 font-bold mb-2">Email <span
                            class="text-red-600">*</span></label>
                    <input type="email" placeholder="Email" formControlName="email" id="email"
                        name="email"
                        class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline w-full">
                    <div *ngIf="submitted && registerForm.controls.email.errors" class="text-red-600">
                        Bitte geben Sie eine gültige E-Mail-Adresse an
                    </div>
                </div>

                <div class="mb-4">
                    <label for="email" class="block text-gray-700 font-bold mb-2">Nutzername <span
                            class="text-red-600">*</span></label>
                    <input type="email" placeholder="Nutzername/Email" formControlName="username" id="username"
                        name="username"
                        class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline w-full">
                    <div *ngIf="submitted && registerForm.controls.username.errors" class="text-red-600">
                        Dieses Feld ist erforderlich
                    </div>
                </div>

                <div class="mb-6">
                    <label for="password" class="block text-gray-700 font-bold mb-2">Passwort <span
                            class="text-red-600">*</span></label>
                    <input type="password" placeholder="Passwort" formControlName="password" id="password"
                        name="password"
                        class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline w-full">
                    <div *ngIf="submitted && registerForm.controls.password.errors" class="text-red-600">
                        Dieses Feld ist erforderlich
                    </div>
                </div>

                <div class="mt-5">
                    <input type="checkbox" class="border border-gray-400">
                    <span>
                        Ich akzeptiere <a href="#" class="text-orange-500 font-semibold">die Nutzungsbedingungen </a> &  <a href="#" class="text-orange-500 font-semibold">Datenschutzbestimmungen</a> 
                    </span>
                  </div>

                <button type="submit"
                    class="w-full bg-[#f7961c] hover:bg-orange-500 text-white font-bold py-2 px-4 rounded">Sign
                    Up
                </button>
            </form>
        </div>
    </div>
</ng-template>

<ng-template #login role="document" let-modal>
    <div class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50">
        <div class="bg-white rounded-lg p-8 max-w-md w-full">
            <span (click)="hideModal()" class=" cursor-pointer mb-6 text-[26px]  font-bold float-right text-[#aaa]">&times;</span>
            <div class=" pt-10 h-auto flex items-center justify-center">
                <h2 class="text-3xl font-bold mb-4"><mat-icon class="pt-1 text-orange-500">account_circle</mat-icon>Login</h2>
            </div>

            <form [formGroup]="loginForm" (ngSubmit)="toLogin()">
                <div class="mb-4">
                    <label for="email" class="block text-gray-700 font-bold mb-2">Email <span
                            class="text-red-600">*</span></label>
                    <input type="email" placeholder="Nutzername/Email" formControlName="username" id="username"
                        name="username"
                        class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline w-full">
                    <div *ngIf="submitted && loginForm.controls.username.errors" class="text-red-600">
                        Dieses Feld ist erforderlich
                    </div>
                </div>
                <div class="mb-6">
                    <label for="password" class="block text-gray-700 font-bold mb-2">Passwort <span
                            class="text-red-600">*</span></label>
                    <input type="password" placeholder="Passwort" formControlName="password" id="password"
                        name="password"
                        class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline w-full">
                    <div *ngIf="submitted && loginForm.controls.password.errors" class="text-red-600">
                        Dieses Feld ist erforderlich
                    </div>
                </div>

                <div class="w-full">
                    <div class="flex flex-row justify-around">
                        <div class="items-center mb-4">
                            <input id="rememberMe" type="checkbox" class="form-checkbox h-5 w-5 text-orange-400">
                            <label for="rememberMe" class="ml-2 text-sm text-gray-700">Erinnern Sie sich an mich</label>
                        </div>
                        <p class="float-right mb-0"><a href="#" class="text-black font-bold">Passwort vergessen?</a></p>
                    </div>
                </div>


                <button type="submit"
                    class="w-full bg-[#f7961c] hover:bg-orange-500 text-white font-bold py-2 px-4 rounded">Eintragen
                </button>
            </form>
            <div class="mt-4 items-end float-left">
                <p>Sie haben noch kein Konto,<span class="text-black font-bold cursor-pointer" (click)="openModal(register)">Melden Sie sich an.</span></p> 
            </div>
        </div>
    </div>
</ng-template>


