<section class="pt-10 py-32 relative ">

    <div class="container mx-auto px-4 ">
  
      <div class="relative z-[1]">
  
        <div class="border-[1px] rounded shadow p-4 bg-white">
          <div class="flex flex-wrap mx-auto mt-10 pb-[70px] lg:flex-row justify-around items-center w-full">
  
            <div class="w-[25%]">
                <div class="counter-box text-center">
                    <button class="border-[#f7961c] hover:bg-[#f7961c] hover:text-white border bg-transparent text-[#f7961c] font-bold py-2 px-4 rounded">
                       <a>Cargo Human Care</a> 
                      </button>
                  </div>
            </div>
  
            <div class="w-[25%] mt-4 pt-2 sm:mt-0 sm:pt-0">
              <div class="counter-box text-center">
                <button class="border-[#f7961c] hover:bg-[#f7961c] hover:text-white border bg-transparent text-[#f7961c] font-bold py-2 px-4 rounded">
                   <a>Giftnotruf</a> 
                  </button>
              </div><!--end counter box-->
            </div>
  
            <div class="w-[25%] mt-4 pt-2 sm:mt-0 sm:pt-0">
                <div class="counter-box text-center">
                    <button class="border-[#f7961c] hover:bg-[#f7961c] hover:text-white border bg-transparent text-[#f7961c] font-bold py-2 px-4 rounded">
                       <a>Kinderärzte im Netz</a> 
                      </button>
                  </div><!--end counter box-->
            </div>

            <div class="w-[25%] mt-4 pt-2 sm:mt-0 sm:pt-0">
                <div class="counter-box text-center">
                    <button class="border-[#f7961c] hover:bg-[#f7961c] hover:text-white border bg-transparent text-[#f7961c] font-bold py-2 px-4 rounded">
                       <a>Humanitäre Organisationen</a> 
                      </button>
                  </div><!--end counter box-->
            </div>
  
          </div>
        </div>
  
        <div class="flex flex-row mx-auto lg:flex-row md:flex-col justify-around justify-items-end w-full">

            <div class="w-[25%] sm:mt-0 sm:pt-0">
                <div class="counter-box text-center">
                    <ul class="text-white">
                        <li class="mt-1"><a href="#"><u>Film über den Einsatz in Nairobi</u></a></li>
                    </ul>
                  </div><!--end counter box-->
            </div>

            <div class="w-[25%]  sm:mt-0 sm:pt-0">
                <div class="counter-box text-center">
                    <ul class="text-white ">
                        <li class="mt-1 "><a href="#"><u>Giftige Pflanzen</u></a></li>
                        <li class="mt-1"><a href="#"><u> Erziehungsfragen</u></a></li>
                        <li class="mt-1"><a href="#"><u>Informationen rund ums Impfen</u></a></li>
                        <li class="mt-1"><a href="#"><u>Rund-ums-baby.de</u></a></li>
                        <li class="mt-1"><a href="#"><u>Kindergesundheit.de</u></a></li>
                    </ul>
                  </div><!--end counter box-->
            </div>

            <div class="w-[25%] sm:mt-0 sm:pt-0">
                <div class="counter-box text-center">
                    <ul class="text-white">
                        <li class="mt-1"><a href="#"><u>Aknetherapie</u></a></li>
                        <li class="mt-1"><a href="#"><u> Selbsthilfegruppen</u></a></li>
                        <li class="mt-1"><a href="#"><u>Reisemedizin</u></a></li>
                        <li class="mt-1"><a href="#"><u>Brandverletzungen</u></a></li>
                        <li class="mt-1"><a href="#"><u>Kindersicherheit</u></a></li>
                        <li class="mt-1"><a href="#"><u>Bundeszentrale für gesundheitliche Aufklärung</u></a></li>
                    </ul>
                  </div><!--end counter box-->
            </div>

            <div class="w-[25%] sm:mt-0 sm:pt-0">
                <div class="counter-box text-center">
                    <ul class="text-white">
                        <li class="mt-1"><a href="#"><u>Cargo Human Care e.V.</u></a></li>
                        <li class="mt-1"><a href="#"><u> social-bag.com</u></a></li>
                    </ul>
                  </div><!--end counter box-->
            </div>
  
        </div>
  
  
      </div>
      <div
        class="absolute bottom-8 right-0 left-0 h-[55.6%] bg-[#f7961c] bg-gradient-to-b from-opacity-25 to-transparent ">
      </div>
  
  
    </div>
  
  </section>