<div class="p-4 sm:ml-64">

    <div *ngIf="loadingHolidays"
        style="position:fixed; background-color:rgba(255,255,255,0.7); top:0; left:0; width:100vw; height:100vh; z-index: 99999999;">

        <div class="flex flex-col justify-center items-center"
            style="left:45%; top:50%; position: fixed; width: 200px; text-align: center; ">
            <img style="width: 100px;" src="/assets/load 2.gif" alt="">
            <div>Loading...</div>
        </div>

    </div>


    <div class="bg-white border border-gray-100 shadow-md shadow-black/5 p-6 rounded-md mt-6">
        <div class="flex justify-between mb-4 items-start">
            <div class="font-medium text-amber-600">Alle meine Urlaubsanträge</div>
        </div>
        <div class="overflow-x-auto">

            <p-table class="px-2" #dt2 [value]="holidays" dataKey="id" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]"
            [loading]="loadingHolidays" [paginator]="true" [globalFilterFields]="['status']"
            [tableStyle]="{ 'min-width': '75rem' }">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="date" style="width:25%">
                       Beginns  <p-sortIcon field="date" />
                    </th>
                    <th pSortableColumn="dateEnd" style="width:25%">
                        Enddatum <p-sortIcon field="dateEnd" />
                    </th>
                    <th style="width:22%">
                        Status
                    </th>
                    <th style="width:22%">
                        Aktion
                    </th>
                </tr>
                <tr>
                    <th>

                    </th>

                    <th>

                    </th>
                    <th>
                        <p-columnFilter class="mb-5" field="status" matchMode="equals" [showMenu]="false">
                            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                <p-dropdown [ngModel]="value" [options]="statuses" (onChange)="filter($event.value)"
                                    placeholder="Select One" [showClear]="true">
                                    <ng-template let-option pTemplate="item">
                                        <p-tag [value]="option.value" [severity]="getSeverity(option.label)" />
                                    </ng-template>
                                </p-dropdown>
                            </ng-template>
                        </p-columnFilter>
                    </th>
                    <th>

                    </th>
                </tr>
            </ng-template>
            <ng-template class="px-3" pTemplate="body" let-holiday>
                <tr
                    class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">

                    <td
                        class="px-6 py-4">
                        <div class="text-base font-light">{{holiday.date.split("T")[0]}}</div>
                    </td>
                    <td class="px-6 py-4">
                        <div class="text-base text-gray-900 font-light"> {{holiday.dateEnd.split("T")[0]}} </div>
                    </td>
                    <td class="px-6 py-4">
                        <div class="flex items-center">
                            <p-tag [value]="holiday.status" [severity]="getSeverity(holiday.status)" />
                        </div>
                    </td>
                    <td class="px-6 py-4">
                        <div (click)="deleteHoliday(holiday.$id)">
                        <svg class="w-6 h-6 text-red-600  dark:text-white cursor-pointer" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                            <path fill-rule="evenodd" d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm7.707-3.707a1 1 0 0 0-1.414 1.414L10.586 12l-2.293 2.293a1 1 0 1 0 1.414 1.414L12 13.414l2.293 2.293a1 1 0 0 0 1.414-1.414L13.414 12l2.293-2.293a1 1 0 0 0-1.414-1.414L12 10.586 9.707 8.293Z" clip-rule="evenodd"/>
                          </svg>
                        </div>
                          
                    </td>
                </tr>
            </ng-template>
        </p-table>


        </div>


    </div>

        <div class="bg-white border px-10 border-gray-100 shadow-md shadow-black/5 p-6 rounded-md lg:col-span-2">
            <app-holidays-calendar-view></app-holidays-calendar-view>
        </div>

    


</div>

